body {
    display: flex;
    justify-content: center;
}

#container {
    aspect-ratio: 3 / 4;
    height: 50vw;
}

#grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(4, 1fr) 160px / 80px repeat(3, 1fr) 80px;
}

#grid > div.side {
    border: 2px solid white;
}

#grid > #top {
    grid-area: 1 / 3;
}

#grid > #left {
    grid-area: 2 / 2;
}

#grid > #front {
    grid-area: 2 / 3;
}

#grid > #right {
    grid-area: 2 / 4;
}

#grid > #bottom {
    grid-area: 3 / 3;
}

#grid > #back {
    grid-area: 4 / 3;
}

#grid > .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid > #ccw-button {
    grid-area: 2 / 1;
}

#grid > #cw-button {
    grid-area: 2 / 5;
}

.side {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}
